<h3 class="form-header">Something</h3>
<h6>Health goth quinoa kickstarter cornhole</h6>
<form class="form-margin">
    <div class="form-group">
        <label for="txt-email" class="form-label">Email</label>
        <input type="email" class="form-control" id="txt-email" placeholder="Email" ng-model="email" ng-enter="validateEmail(email)">       
    </div>
    <div class="frm-button">
        <button type="button" class="btn btn-primary btn-block" ng-click="validateEmail(email)">Next ></button>
    </div>
</form>