<h3 class="form-header">Welcome {{ user.fName }}</h3>
<h6>Health goth quinoa kickstarter cornhole</h6>
<nav class="navbar navbar-default ng-scope">
    <div class="container-fluid">
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="
     padding-left: 0px;padding-right:0px;
">
            <ul class="nav navbar-nav">
                <!--  <li class="active"><a href="#">Link1 <span class="sr-only">(current)</span></a></li>-->

                <li><a href="javascript:void(0);" ng-click="resetPassword()">Reset Password</a></li>
                <li><a href="javascript:void(0);" ng-click="tellAboutYou()">Tell About You</a></li>
               
            </ul>


        </div>
    </div>
</nav>
