<h3 class="form-header">Reset Password</h3>
<h6>Health goth quinoa kickstarter cornhole</h6>
<form class="form-margin">
    <div class="form-group">
        <label for="txtEmail" class="form-label">Email</label>
        <input type="email" ng-enter="resetPassword(email)" class="form-control" id="txtEmail" placeholder="Email" ng-model="email" ng-enter="resetPassword(email)">       
    </div>
    <div class="frm-button">
        <button type="button" class="btn btn-primary btn-block" ng-click="resetPassword(email)">Reset Password ></button>
    </div>
    <div ng-if="hasPasswordReset" class="lbl-reg-success">
        Password was successfully reset.
    </div>
    <div ng-if="!hasPasswordReset && hasPasswordReset!=null " class="lbl-reg-failed">
       Password reset was failed.
    </div>
</form>