<h3 class="form-header">What's next?</h3>
<h6>Health goth quinoa kickstarter cornhole</h6>
<div class="list-group form-margin">
    <div class="list-group-item whats-next-item">
        <span class="glyphicon glyphicon-briefcase col-gray"></span>
        <a href="#" class="whats-next-item-a" ng-click="navLink('ADD_WORK_EXP')">Add Work Experience</a>
        <span class="glyphicon glyphicon-chevron-right col-gray pull-right"></span>
    </div>
    <div class="list-group-item whats-next-item">
        <span class="glyphicon glyphicon-education col-gray"></span>
        <a href="javascript:void(0)" class="whats-next-item-a" ng-click="navLink('ADD_EDU')">Add Education</a>
        <!--<button type="button" class="btn btn-primary btn-block"  ng-click="navLink('ADD_EDU')">Next  ></button>-->

        <span class="glyphicon glyphicon-chevron-right col-gray pull-right"></span>
    </div>
    <div class="list-group-item whats-next-item">
        <span class="glyphicon glyphicon-user col-gray"></span>
        <a href="#" class="whats-next-item-a" ng-click="navLink('ADD_FRIENDS')">Invite Friends</a>
        <span class="glyphicon glyphicon-chevron-right col-gray pull-right"></span>
    </div>
</div>
<div class="form-label lbl-whats-next-bot">
    Go to your dashboard
</div>